<launch>

  <node name = "p0" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "0" />
  </node>

  <node name = "s0" type = "node_subscribe.py" pkg = "invest_topic">
  </node>

  <node name = "p1" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "1" />
  </node>

  <node name = "s1" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "1" />
  </node>

  <node name = "p2" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

  <node name = "s2" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

  <node name = "p3" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "3" />
  </node>

  <node name = "s3" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "3" />
  </node>

  <node name = "p4" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "4" />
  </node>

  <node name = "s4" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "4" />
  </node>

  <node name = "p5" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "5" />
  </node>

  <node name = "s5" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "5" />
  </node>

  <node name = "p6" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "6" />
  </node>

  <node name = "s6" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "6" />
  </node>

  <node name = "p7" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "7" />
  </node>

  <node name = "s7" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "7" />
  </node>

  <node name = "p8" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "8" />
  </node>

  <node name = "s8" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "8" />
  </node>

  <node name = "p9" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "9" />
  </node>

  <node name = "s9" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "9" />
  </node>

  <node name = "p10" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "s10" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "p11" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "11" />
  </node>

  <node name = "s11" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "11" />
  </node>

  <node name = "p12" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "12" />
  </node>

  <node name = "s12" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "12" />
  </node>

  <node name = "p13" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "13" />
  </node>

  <node name = "s13" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "13" />
  </node>

  <node name = "p14" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "14" />
  </node>

  <node name = "s14" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "14" />
  </node>

  <node name = "p15" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "15" />
  </node>

  <node name = "s15" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "15" />
  </node>

  <node name = "p16" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "16" />
  </node>

  <node name = "s16" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "16" />
  </node>

  <node name = "p17" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "17" />
  </node>

  <node name = "s17" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "17" />
  </node>

  <node name = "p18" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "18" />
  </node>

  <node name = "s18" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "18" />
  </node>

  <node name = "p19" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "19" />
  </node>

  <node name = "s19" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "19" />
  </node>

  <node name = "p20" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "20" />
  </node>

  <node name = "s20" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "20" />
  </node>

  <node name = "p21" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "21" />
  </node>

  <node name = "s21" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "21" />
  </node>

  <node name = "p22" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "22" />
  </node>

  <node name = "s22" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "22" />
  </node>

  <node name = "p23" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "23" />
  </node>

  <node name = "s23" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "23" />
  </node>

  <node name = "p24" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "24" />
  </node>

  <node name = "s24" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "24" />
  </node>

  <node name = "p25" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "25" />
  </node>

  <node name = "s25" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "25" />
  </node>

  <node name = "p26" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "26" />
  </node>

  <node name = "s26" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "26" />
  </node>

  <node name = "p27" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "27" />
  </node>

  <node name = "s27" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "27" />
  </node>

  <node name = "p28" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "28" />
  </node>

  <node name = "s28" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "28" />
  </node>

  <node name = "p29" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "29" />
  </node>

  <node name = "s29" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "29" />
  </node>

  <node name = "p30" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "30" />
  </node>

  <node name = "s30" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "30" />
  </node>

  <node name = "p31" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "31" />
  </node>

  <node name = "s31" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "31" />
  </node>

  <node name = "p32" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "32" />
  </node>

  <node name = "s32" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "32" />
  </node>

  <node name = "p33" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "33" />
  </node>

  <node name = "s33" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "33" />
  </node>

  <node name = "p34" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "34" />
  </node>

  <node name = "s34" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "34" />
  </node>

  <node name = "p35" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "35" />
  </node>

  <node name = "s35" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "35" />
  </node>

  <node name = "p36" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "36" />
  </node>

  <node name = "s36" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "36" />
  </node>

  <node name = "p37" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "37" />
  </node>

  <node name = "s37" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "37" />
  </node>

  <node name = "p38" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "38" />
  </node>

  <node name = "s38" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "38" />
  </node>

  <node name = "p39" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "39" />
  </node>

  <node name = "s39" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "39" />
  </node>

  <node name = "p40" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "40" />
  </node>

  <node name = "s40" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "40" />
  </node>

  <node name = "p41" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "41" />
  </node>

  <node name = "s41" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "41" />
  </node>

  <node name = "p42" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "42" />
  </node>

  <node name = "s42" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "42" />
  </node>

  <node name = "p43" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "43" />
  </node>

  <node name = "s43" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "43" />
  </node>

  <node name = "p44" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "44" />
  </node>

  <node name = "s44" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "44" />
  </node>

  <node name = "p45" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "45" />
  </node>

  <node name = "s45" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "45" />
  </node>

  <node name = "p46" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "46" />
  </node>

  <node name = "s46" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "46" />
  </node>

  <node name = "p47" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "47" />
  </node>

  <node name = "s47" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "47" />
  </node>

  <node name = "p48" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "48" />
  </node>

  <node name = "s48" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "48" />
  </node>

  <node name = "p49" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "49" />
  </node>

  <node name = "s49" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "49" />
  </node>

  <node name = "p50" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "50" />
  </node>

  <node name = "s50" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "50" />
  </node>

  <node name = "p51" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "51" />
  </node>

  <node name = "s51" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "51" />
  </node>

  <node name = "p52" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "52" />
  </node>

  <node name = "s52" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "52" />
  </node>

  <node name = "p53" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "53" />
  </node>

  <node name = "s53" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "53" />
  </node>

  <node name = "p54" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "54" />
  </node>

  <node name = "s54" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "54" />
  </node>

  <node name = "p55" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "55" />
  </node>

  <node name = "s55" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "55" />
  </node>

  <node name = "p56" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "56" />
  </node>

  <node name = "s56" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "56" />
  </node>

  <node name = "p57" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "57" />
  </node>

  <node name = "s57" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "57" />
  </node>

  <node name = "p58" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "58" />
  </node>

  <node name = "s58" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "58" />
  </node>

  <node name = "p59" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "59" />
  </node>

  <node name = "s59" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "59" />
  </node>

  <node name = "p60" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "60" />
  </node>

  <node name = "s60" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "60" />
  </node>

  <node name = "p61" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "61" />
  </node>

  <node name = "s61" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "61" />
  </node>

  <node name = "p62" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "62" />
  </node>

  <node name = "s62" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "62" />
  </node>

  <node name = "p63" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "63" />
  </node>

  <node name = "s63" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "63" />
  </node>

  <node name = "p64" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "64" />
  </node>

  <node name = "s64" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "64" />
  </node>

  <node name = "p65" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "65" />
  </node>

  <node name = "s65" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "65" />
  </node>

  <node name = "p66" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "66" />
  </node>

  <node name = "s66" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "66" />
  </node>

  <node name = "p67" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "67" />
  </node>

  <node name = "s67" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "67" />
  </node>

  <node name = "p68" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "68" />
  </node>

  <node name = "s68" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "68" />
  </node>

  <node name = "p69" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "69" />
  </node>

  <node name = "s69" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "69" />
  </node>

  <node name = "p70" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "70" />
  </node>

  <node name = "s70" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "70" />
  </node>

</launch>
