<launch>

  <node name = "p0" type = "node_publish_1.py" pkg = "invest_topic">
  </node>

  <node name = "s0" type = "node_subscribe_1.py" pkg = "invest_topic">
  </node>

  <node name = "p1" type = "topic_publish.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "s1" type = "topic_subscribe.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "p2" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

  <node name = "s2" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

</launch>
