<launch>

  <node name = "p0" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "0" />
  </node>

  <node name = "s0" type = "node_subscribe.py" pkg = "invest_topic">
  </node>

  <node name = "p1" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "1" />
  </node>

  <node name = "s1" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "1" />
  </node>

  <node name = "p2" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

  <node name = "s2" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "2" />
  </node>

  <node name = "p3" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "3" />
  </node>

  <node name = "s3" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "3" />
  </node>

  <node name = "p4" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "4" />
  </node>

  <node name = "s4" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "4" />
  </node>

  <node name = "p5" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "5" />
  </node>

  <node name = "s5" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "5" />
  </node>

  <node name = "p6" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "6" />
  </node>

  <node name = "s6" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "6" />
  </node>

  <node name = "p7" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "7" />
  </node>

  <node name = "s7" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "7" />
  </node>

  <node name = "p8" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "8" />
  </node>

  <node name = "s8" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "8" />
  </node>

  <node name = "p9" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "9" />
  </node>

  <node name = "s9" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "9" />
  </node>

  <node name = "p10" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "s10" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "p11" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "11" />
  </node>

  <node name = "s11" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "11" />
  </node>

  <node name = "p12" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "12" />
  </node>

  <node name = "s12" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "12" />
  </node>

  <node name = "p13" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "13" />
  </node>

  <node name = "s13" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "13" />
  </node>

  <node name = "p14" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "14" />
  </node>

  <node name = "s14" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "14" />
  </node>

  <node name = "p15" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "15" />
  </node>

  <node name = "s15" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "15" />
  </node>

  <node name = "p16" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "16" />
  </node>

  <node name = "s16" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "16" />
  </node>

  <node name = "p17" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "17" />
  </node>

  <node name = "s17" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "17" />
  </node>

  <node name = "p18" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "18" />
  </node>

  <node name = "s18" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "18" />
  </node>

  <node name = "p19" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "19" />
  </node>

  <node name = "s19" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "19" />
  </node>

  <node name = "p20" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "20" />
  </node>

  <node name = "s20" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "20" />
  </node>

  <node name = "p21" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "21" />
  </node>

  <node name = "s21" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "21" />
  </node>

  <node name = "p22" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "22" />
  </node>

  <node name = "s22" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "22" />
  </node>

  <node name = "p23" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "23" />
  </node>

  <node name = "s23" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "23" />
  </node>

  <node name = "p24" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "24" />
  </node>

  <node name = "s24" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "24" />
  </node>

  <node name = "p25" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "25" />
  </node>

  <node name = "s25" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "25" />
  </node>

  <node name = "p26" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "26" />
  </node>

  <node name = "s26" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "26" />
  </node>

  <node name = "p27" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "27" />
  </node>

  <node name = "s27" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "27" />
  </node>

  <node name = "p28" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "28" />
  </node>

  <node name = "s28" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "28" />
  </node>

  <node name = "p29" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "29" />
  </node>

  <node name = "s29" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "29" />
  </node>

  <node name = "p30" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "30" />
  </node>

  <node name = "s30" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "30" />
  </node>

  <node name = "p31" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "31" />
  </node>

  <node name = "s31" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "31" />
  </node>

  <node name = "p32" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "32" />
  </node>

  <node name = "s32" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "32" />
  </node>

  <node name = "p33" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "33" />
  </node>

  <node name = "s33" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "33" />
  </node>

  <node name = "p34" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "34" />
  </node>

  <node name = "s34" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "34" />
  </node>

  <node name = "p35" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "35" />
  </node>

  <node name = "s35" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "35" />
  </node>

  <node name = "p36" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "36" />
  </node>

  <node name = "s36" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "36" />
  </node>

  <node name = "p37" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "37" />
  </node>

  <node name = "s37" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "37" />
  </node>

  <node name = "p38" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "38" />
  </node>

  <node name = "s38" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "38" />
  </node>

  <node name = "p39" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "39" />
  </node>

  <node name = "s39" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "39" />
  </node>

  <node name = "p40" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "40" />
  </node>

  <node name = "s40" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "40" />
  </node>

  <node name = "p41" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "41" />
  </node>

  <node name = "s41" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "41" />
  </node>

  <node name = "p42" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "42" />
  </node>

  <node name = "s42" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "42" />
  </node>

  <node name = "p43" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "43" />
  </node>

  <node name = "s43" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "43" />
  </node>

  <node name = "p44" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "44" />
  </node>

  <node name = "s44" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "44" />
  </node>

  <node name = "p45" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "45" />
  </node>

  <node name = "s45" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "45" />
  </node>

  <node name = "p46" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "46" />
  </node>

  <node name = "s46" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "46" />
  </node>

  <node name = "p47" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "47" />
  </node>

  <node name = "s47" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "47" />
  </node>

  <node name = "p48" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "48" />
  </node>

  <node name = "s48" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "48" />
  </node>

  <node name = "p49" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "49" />
  </node>

  <node name = "s49" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "49" />
  </node>

  <node name = "p50" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "50" />
  </node>

  <node name = "s50" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "50" />
  </node>

  <node name = "p51" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "51" />
  </node>

  <node name = "s51" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "51" />
  </node>

  <node name = "p52" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "52" />
  </node>

  <node name = "s52" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "52" />
  </node>

  <node name = "p53" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "53" />
  </node>

  <node name = "s53" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "53" />
  </node>

  <node name = "p54" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "54" />
  </node>

  <node name = "s54" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "54" />
  </node>

  <node name = "p55" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "55" />
  </node>

  <node name = "s55" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "55" />
  </node>

  <node name = "p56" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "56" />
  </node>

  <node name = "s56" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "56" />
  </node>

  <node name = "p57" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "57" />
  </node>

  <node name = "s57" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "57" />
  </node>

  <node name = "p58" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "58" />
  </node>

  <node name = "s58" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "58" />
  </node>

  <node name = "p59" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "59" />
  </node>

  <node name = "s59" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "59" />
  </node>

  <node name = "p60" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "60" />
  </node>

  <node name = "s60" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "60" />
  </node>

  <node name = "p61" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "61" />
  </node>

  <node name = "s61" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "61" />
  </node>

  <node name = "p62" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "62" />
  </node>

  <node name = "s62" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "62" />
  </node>

  <node name = "p63" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "63" />
  </node>

  <node name = "s63" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "63" />
  </node>

  <node name = "p64" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "64" />
  </node>

  <node name = "s64" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "64" />
  </node>

  <node name = "p65" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "65" />
  </node>

  <node name = "s65" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "65" />
  </node>

  <node name = "p66" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "66" />
  </node>

  <node name = "s66" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "66" />
  </node>

  <node name = "p67" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "67" />
  </node>

  <node name = "s67" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "67" />
  </node>

  <node name = "p68" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "68" />
  </node>

  <node name = "s68" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "68" />
  </node>

  <node name = "p69" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "69" />
  </node>

  <node name = "s69" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "69" />
  </node>

  <node name = "p70" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "70" />
  </node>

  <node name = "s70" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "70" />
  </node>

  <node name = "p71" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "71" />
  </node>

  <node name = "s71" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "71" />
  </node>

  <node name = "p72" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "72" />
  </node>

  <node name = "s72" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "72" />
  </node>

  <node name = "p73" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "73" />
  </node>

  <node name = "s73" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "73" />
  </node>

  <node name = "p74" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "74" />
  </node>

  <node name = "s74" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "74" />
  </node>

  <node name = "p75" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "75" />
  </node>

  <node name = "s75" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "75" />
  </node>

  <node name = "p76" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "76" />
  </node>

  <node name = "s76" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "76" />
  </node>

  <node name = "p77" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "77" />
  </node>

  <node name = "s77" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "77" />
  </node>

  <node name = "p78" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "78" />
  </node>

  <node name = "s78" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "78" />
  </node>

  <node name = "p79" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "79" />
  </node>

  <node name = "s79" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "79" />
  </node>

  <node name = "p80" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "80" />
  </node>

  <node name = "s80" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "80" />
  </node>

  <node name = "p81" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "81" />
  </node>

  <node name = "s81" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "81" />
  </node>

  <node name = "p82" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "82" />
  </node>

  <node name = "s82" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "82" />
  </node>

  <node name = "p83" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "83" />
  </node>

  <node name = "s83" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "83" />
  </node>

  <node name = "p84" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "84" />
  </node>

  <node name = "s84" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "84" />
  </node>

  <node name = "p85" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "85" />
  </node>

  <node name = "s85" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "85" />
  </node>

  <node name = "p86" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "86" />
  </node>

  <node name = "s86" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "86" />
  </node>

  <node name = "p87" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "87" />
  </node>

  <node name = "s87" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "87" />
  </node>

  <node name = "p88" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "88" />
  </node>

  <node name = "s88" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "88" />
  </node>

  <node name = "p89" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "89" />
  </node>

  <node name = "s89" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "89" />
  </node>

  <node name = "p90" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "90" />
  </node>

  <node name = "s90" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "90" />
  </node>

  <node name = "p91" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "91" />
  </node>

  <node name = "s91" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "91" />
  </node>

  <node name = "p92" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "92" />
  </node>

  <node name = "s92" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "92" />
  </node>

  <node name = "p93" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "93" />
  </node>

  <node name = "s93" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "93" />
  </node>

  <node name = "p94" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "94" />
  </node>

  <node name = "s94" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "94" />
  </node>

  <node name = "p95" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "95" />
  </node>

  <node name = "s95" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "95" />
  </node>

  <node name = "p96" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "96" />
  </node>

  <node name = "s96" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "96" />
  </node>

  <node name = "p97" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "97" />
  </node>

  <node name = "s97" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "97" />
  </node>

  <node name = "p98" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "98" />
  </node>

  <node name = "s98" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "98" />
  </node>

  <node name = "p99" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "99" />
  </node>

  <node name = "s99" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "99" />
  </node>

  <node name = "p100" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "100" />
  </node>

  <node name = "s100" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "100" />
  </node>

  <node name = "p101" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "101" />
  </node>

  <node name = "s101" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "101" />
  </node>

  <node name = "p102" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "102" />
  </node>

  <node name = "s102" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "102" />
  </node>

  <node name = "p103" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "103" />
  </node>

  <node name = "s103" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "103" />
  </node>

  <node name = "p104" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "104" />
  </node>

  <node name = "s104" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "104" />
  </node>

  <node name = "p105" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "105" />
  </node>

  <node name = "s105" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "105" />
  </node>

  <node name = "p106" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "106" />
  </node>

  <node name = "s106" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "106" />
  </node>

  <node name = "p107" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "107" />
  </node>

  <node name = "s107" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "107" />
  </node>

  <node name = "p108" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "108" />
  </node>

  <node name = "s108" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "108" />
  </node>

  <node name = "p109" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "109" />
  </node>

  <node name = "s109" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "109" />
  </node>

  <node name = "p110" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "110" />
  </node>

  <node name = "s110" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "110" />
  </node>

  <node name = "p111" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "111" />
  </node>

  <node name = "s111" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "111" />
  </node>

  <node name = "p112" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "112" />
  </node>

  <node name = "s112" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "112" />
  </node>

  <node name = "p113" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "113" />
  </node>

  <node name = "s113" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "113" />
  </node>

  <node name = "p114" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "114" />
  </node>

  <node name = "s114" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "114" />
  </node>

  <node name = "p115" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "115" />
  </node>

  <node name = "s115" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "115" />
  </node>

  <node name = "p116" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "116" />
  </node>

  <node name = "s116" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "116" />
  </node>

  <node name = "p117" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "117" />
  </node>

  <node name = "s117" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "117" />
  </node>

  <node name = "p118" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "118" />
  </node>

  <node name = "s118" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "118" />
  </node>

  <node name = "p119" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "119" />
  </node>

  <node name = "s119" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "119" />
  </node>

  <node name = "p120" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "120" />
  </node>

  <node name = "s120" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "120" />
  </node>

  <node name = "p121" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "121" />
  </node>

  <node name = "s121" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "121" />
  </node>

  <node name = "p122" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "122" />
  </node>

  <node name = "s122" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "122" />
  </node>

  <node name = "p123" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "123" />
  </node>

  <node name = "s123" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "123" />
  </node>

  <node name = "p124" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "124" />
  </node>

  <node name = "s124" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "124" />
  </node>

  <node name = "p125" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "125" />
  </node>

  <node name = "s125" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "125" />
  </node>

  <node name = "p126" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "126" />
  </node>

  <node name = "s126" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "126" />
  </node>

  <node name = "p127" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "127" />
  </node>

  <node name = "s127" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "127" />
  </node>

  <node name = "p128" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "128" />
  </node>

  <node name = "s128" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "128" />
  </node>

  <node name = "p129" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "129" />
  </node>

  <node name = "s129" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "129" />
  </node>

  <node name = "p130" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "130" />
  </node>

  <node name = "s130" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "130" />
  </node>

  <node name = "p131" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "131" />
  </node>

  <node name = "s131" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "131" />
  </node>

  <node name = "p132" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "132" />
  </node>

  <node name = "s132" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "132" />
  </node>

  <node name = "p133" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "133" />
  </node>

  <node name = "s133" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "133" />
  </node>

  <node name = "p134" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "134" />
  </node>

  <node name = "s134" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "134" />
  </node>

  <node name = "p135" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "135" />
  </node>

  <node name = "s135" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "135" />
  </node>

  <node name = "p136" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "136" />
  </node>

  <node name = "s136" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "136" />
  </node>

  <node name = "p137" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "137" />
  </node>

  <node name = "s137" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "137" />
  </node>

  <node name = "p138" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "138" />
  </node>

  <node name = "s138" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "138" />
  </node>

  <node name = "p139" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "139" />
  </node>

  <node name = "s139" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "139" />
  </node>

  <node name = "p140" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "140" />
  </node>

  <node name = "s140" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "140" />
  </node>

  <node name = "p141" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "141" />
  </node>

  <node name = "s141" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "141" />
  </node>

  <node name = "p142" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "142" />
  </node>

  <node name = "s142" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "142" />
  </node>

  <node name = "p143" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "143" />
  </node>

  <node name = "s143" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "143" />
  </node>

  <node name = "p144" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "144" />
  </node>

  <node name = "s144" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "144" />
  </node>

  <node name = "p145" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "145" />
  </node>

  <node name = "s145" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "145" />
  </node>

  <node name = "p146" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "146" />
  </node>

  <node name = "s146" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "146" />
  </node>

  <node name = "p147" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "147" />
  </node>

  <node name = "s147" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "147" />
  </node>

  <node name = "p148" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "148" />
  </node>

  <node name = "s148" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "148" />
  </node>

  <node name = "p149" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "149" />
  </node>

  <node name = "s149" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "149" />
  </node>

  <node name = "p150" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "150" />
  </node>

  <node name = "s150" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "150" />
  </node>

  <node name = "p151" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "151" />
  </node>

  <node name = "s151" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "151" />
  </node>

  <node name = "p152" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "152" />
  </node>

  <node name = "s152" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "152" />
  </node>

  <node name = "p153" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "153" />
  </node>

  <node name = "s153" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "153" />
  </node>

  <node name = "p154" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "154" />
  </node>

  <node name = "s154" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "154" />
  </node>

  <node name = "p155" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "155" />
  </node>

  <node name = "s155" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "155" />
  </node>

  <node name = "p156" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "156" />
  </node>

  <node name = "s156" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "156" />
  </node>

  <node name = "p157" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "157" />
  </node>

  <node name = "s157" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "157" />
  </node>

  <node name = "p158" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "158" />
  </node>

  <node name = "s158" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "158" />
  </node>

  <node name = "p159" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "159" />
  </node>

  <node name = "s159" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "159" />
  </node>

  <node name = "p160" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "160" />
  </node>

  <node name = "s160" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "160" />
  </node>

  <node name = "p161" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "161" />
  </node>

  <node name = "s161" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "161" />
  </node>

  <node name = "p162" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "162" />
  </node>

  <node name = "s162" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "162" />
  </node>

  <node name = "p163" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "163" />
  </node>

  <node name = "s163" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "163" />
  </node>

  <node name = "p164" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "164" />
  </node>

  <node name = "s164" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "164" />
  </node>

  <node name = "p165" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "165" />
  </node>

  <node name = "s165" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "165" />
  </node>

  <node name = "p166" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "166" />
  </node>

  <node name = "s166" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "166" />
  </node>

  <node name = "p167" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "167" />
  </node>

  <node name = "s167" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "167" />
  </node>

  <node name = "p168" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "168" />
  </node>

  <node name = "s168" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "168" />
  </node>

  <node name = "p169" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "169" />
  </node>

  <node name = "s169" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "169" />
  </node>

  <node name = "p170" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "170" />
  </node>

  <node name = "s170" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "170" />
  </node>

  <node name = "p171" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "171" />
  </node>

  <node name = "s171" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "171" />
  </node>

  <node name = "p172" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "172" />
  </node>

  <node name = "s172" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "172" />
  </node>

  <node name = "p173" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "173" />
  </node>

  <node name = "s173" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "173" />
  </node>

  <node name = "p174" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "174" />
  </node>

  <node name = "s174" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "174" />
  </node>

  <node name = "p175" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "175" />
  </node>

  <node name = "s175" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "175" />
  </node>

  <node name = "p176" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "176" />
  </node>

  <node name = "s176" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "176" />
  </node>

  <node name = "p177" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "177" />
  </node>

  <node name = "s177" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "177" />
  </node>

  <node name = "p178" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "178" />
  </node>

  <node name = "s178" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "178" />
  </node>

  <node name = "p179" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "179" />
  </node>

  <node name = "s179" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "179" />
  </node>

  <node name = "p180" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "180" />
  </node>

  <node name = "s180" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "180" />
  </node>

  <node name = "p181" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "181" />
  </node>

  <node name = "s181" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "181" />
  </node>

  <node name = "p182" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "182" />
  </node>

  <node name = "s182" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "182" />
  </node>

  <node name = "p183" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "183" />
  </node>

  <node name = "s183" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "183" />
  </node>

  <node name = "p184" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "184" />
  </node>

  <node name = "s184" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "184" />
  </node>

  <node name = "p185" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "185" />
  </node>

  <node name = "s185" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "185" />
  </node>

  <node name = "p186" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "186" />
  </node>

  <node name = "s186" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "186" />
  </node>

  <node name = "p187" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "187" />
  </node>

  <node name = "s187" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "187" />
  </node>

  <node name = "p188" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "188" />
  </node>

  <node name = "s188" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "188" />
  </node>

  <node name = "p189" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "189" />
  </node>

  <node name = "s189" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "189" />
  </node>

  <node name = "p190" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "190" />
  </node>

  <node name = "s190" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "190" />
  </node>

  <node name = "p191" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "191" />
  </node>

  <node name = "s191" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "191" />
  </node>

  <node name = "p192" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "192" />
  </node>

  <node name = "s192" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "192" />
  </node>

  <node name = "p193" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "193" />
  </node>

  <node name = "s193" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "193" />
  </node>

  <node name = "p194" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "194" />
  </node>

  <node name = "s194" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "194" />
  </node>

  <node name = "p195" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "195" />
  </node>

  <node name = "s195" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "195" />
  </node>

  <node name = "p196" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "196" />
  </node>

  <node name = "s196" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "196" />
  </node>

  <node name = "p197" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "197" />
  </node>

  <node name = "s197" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "197" />
  </node>

  <node name = "p198" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "198" />
  </node>

  <node name = "s198" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "198" />
  </node>

  <node name = "p199" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "199" />
  </node>

  <node name = "s199" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "199" />
  </node>

  <node name = "p200" type = "node_publish.py" pkg = "invest_topic">
    <param name = "n" value = "200" />
  </node>

  <node name = "s200" type = "node_subscribe_ex.py" pkg = "invest_topic">
    <param name = "n" value = "200" />
  </node>

</launch>
