<launch>

  <node name = "p0" type = "node_saver_p.py" pkg = "invest_topic">
  </node>

  <node name = "s0" type = "node_saver_s.py" pkg = "invest_topic">
  </node>

  <node name = "p1" type = "topic_publish.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "s1" type = "topic_subscribe.py" pkg = "invest_topic">
    <param name = "n" value = "10" />
  </node>

  <node name = "p2" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s2" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p3" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s3" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p4" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s4" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p5" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s5" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p6" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s6" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p7" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s7" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p8" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s8" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p9" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s9" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p10" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s10" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p11" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s11" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p12" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s12" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p13" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s13" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p14" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s14" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p15" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s15" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p16" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s16" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p17" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s17" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p18" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s18" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p19" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s19" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p20" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s20" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p21" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s21" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p22" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s22" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p23" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s23" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p24" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s24" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p25" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s25" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p26" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s26" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p27" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s27" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p28" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s28" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p29" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s29" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p30" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s30" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p31" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s31" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p32" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s32" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p33" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s33" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p34" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s34" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p35" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s35" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p36" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s36" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p37" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s37" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p38" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s38" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p39" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s39" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p40" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s40" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p41" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s41" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p42" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s42" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p43" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s43" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p44" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s44" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p45" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s45" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p46" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s46" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p47" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s47" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p48" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s48" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p49" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s49" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p50" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s50" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p51" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s51" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p52" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s52" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p53" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s53" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p54" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s54" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p55" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s55" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p56" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s56" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p57" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s57" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p58" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s58" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p59" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s59" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p60" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s60" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p61" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s61" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p62" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s62" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p63" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s63" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p64" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s64" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p65" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s65" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p66" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s66" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p67" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s67" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p68" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s68" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p69" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s69" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p70" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s70" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p71" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s71" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p72" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s72" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p73" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s73" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p74" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s74" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p75" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s75" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p76" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s76" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p77" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s77" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p78" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s78" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p79" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s79" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p80" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s80" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p81" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s81" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p82" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s82" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p83" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s83" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p84" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s84" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p85" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s85" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p86" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s86" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p87" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s87" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p88" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s88" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p89" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s89" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p90" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s90" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p91" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s91" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p92" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s92" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p93" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s93" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p94" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s94" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p95" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s95" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p96" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s96" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p97" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s97" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p98" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s98" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p99" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s99" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p100" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s100" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p101" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s101" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p102" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s102" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p103" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s103" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p104" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s104" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p105" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s105" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p106" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s106" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p107" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s107" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p108" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s108" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p109" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s109" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p110" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s110" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p111" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s111" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p112" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s112" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p113" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s113" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p114" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s114" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p115" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s115" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p116" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s116" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p117" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s117" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p118" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s118" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p119" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s119" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p120" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s120" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p121" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s121" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p122" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s122" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p123" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s123" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p124" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s124" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p125" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s125" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p126" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s126" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p127" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s127" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p128" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s128" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p129" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s129" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p130" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s130" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p131" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s131" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p132" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s132" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p133" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s133" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p134" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s134" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p135" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s135" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p136" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s136" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p137" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s137" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p138" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s138" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p139" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s139" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p140" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s140" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p141" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s141" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p142" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s142" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p143" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s143" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p144" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s144" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p145" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s145" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p146" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s146" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p147" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s147" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p148" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s148" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p149" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s149" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p150" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s150" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p151" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s151" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p152" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s152" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p153" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s153" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p154" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s154" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p155" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s155" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p156" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s156" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p157" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s157" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p158" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s158" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p159" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s159" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p160" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s160" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p161" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s161" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p162" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s162" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p163" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s163" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p164" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s164" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p165" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s165" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p166" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s166" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p167" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s167" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p168" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s168" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p169" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s169" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p170" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s170" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p171" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s171" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p172" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s172" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p173" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s173" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p174" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s174" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p175" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s175" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p176" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s176" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p177" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s177" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p178" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s178" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p179" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s179" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p180" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s180" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p181" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s181" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p182" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s182" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p183" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s183" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p184" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s184" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p185" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s185" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p186" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s186" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p187" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s187" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p188" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s188" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p189" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s189" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p190" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s190" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p191" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s191" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p192" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s192" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p193" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s193" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p194" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s194" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p195" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s195" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p196" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s196" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p197" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s197" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p198" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s198" type = "sloth_s.py" pkg = "invest_topic">
  </node>

  <node name = "p199" type = "sloth_p.py" pkg = "invest_topic">
  </node>

  <node name = "s199" type = "sloth_s.py" pkg = "invest_topic">
  </node>

</launch>
