<launch>

  <node name = "p0"
        type = "node_saver_p.py"
        pkg = "invest_topic">
  </node>

  <node name = "s0"
        type = "node_saver_s.py"
        pkg = "invest_topic">
    <param name="node" value="0">
    <param name="topic" value="1">
  </node>

  <node name = "r"
        type = "node_return.py"
        pkg = "invest_topic">
  </node>

</launch>
