<launch><node name="p0" pkg="invest_topic" type="node_saver_p.py" /><node name="s0" pkg="invest_topic" type="node_saver_s.py" /><node name="p1" pkg="invest_topic" type="topic_publish.py"><param name="n" value="2" /></node><node name="s1" pkg="invest_topic" type="topic_subscribe.py"><param name="n" value="2" /></node><node name="p2" pkg="invest_topic" type="sloth_p.py" /><node name="p3" pkg="invest_topic" type="sloth_p.py" /><node name="s2" pkg="invest_topic" type="sloth_s.py" /><node name="s3" pkg="invest_topic" type="sloth_s.py" /></launch>